<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:name=".amaruk.App"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait"
            android:largeHeap="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".amaruk.MainActivity"
                android:configChanges="orientation|locale|layoutDirection"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".amaruk.SplashScreenActivity"
                android:configChanges="orientation|locale|layoutDirection"
                android:label="@string/app_name"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme.NoActionBar"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".amaruk.LoginActivity"
                android:configChanges="orientation|locale|layoutDirection"
                android:screenOrientation="unspecified"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>